* {
  margin: 0;
  padding: 0;
  font-family: Helvetica;
}

body {
  padding-bottom: 500px;
}

h3 {
  background-color: #2e2e2e;
  margin: 0;
  width: 30%;
  text-align: center;
  color: rgb(248, 20, 20);
  margin-bottom: 10px;
}

.aula {
  border-bottom: 1px solid red;
  padding: 0.2rem;
  padding-bottom: 1rem;
}
